<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
</head>
<body>
    <header class="header">
        <div class="container header-container">
            <a href="" class="link">Площади и линии</a>
            <a href="" class="link">Фрактальный анализ</a>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container hero-container">
                <form method="post" enctype="multipart/form-data">
                <div class="img"><img src = "static/image/{{uploaded_image}}"></div>
                    <input type = "file" name="file">
                    <input type="submit" value="Загрузить изображение">
                    <input type="calc" value="Результат">
                    </form>
                <div class="settings">
                    <h1>Настройки</h1>
                    <div class="setting">
                        <div class="radio">
                            <input class="custom-radio" type="radio" id="color-1" name="color" value="indigo">
                            <label for="color-1">Оригинал</label>
                        </div>
                        
                        <div class="radio">
                            <input class="custom-radio" type="radio" id="color-2" name="color" value="red">
                            <label for="color-2">Измененная</label>
                        </div>
                       
                        <div class="checkbox">
                            <label class="custom-checkbox">
                              <input type="checkbox" name="color-1" value="indigo">
                              <span>Средние линии</span>
                            </label>
                          </div>
            
                    </div>
                </div>
                <div class="results">
                    <h1>Результаты</h1>
                    <p>Фрактальная размерность</p>
                    <div class="content">{{Res}}</div>
                    <p>Общая площадь</p>
                    <div class="content2">{{S}}</div>
                    <p>Длины линий</p>
                    <div class="content"></div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>