<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
    <h1>Все что было сделано удалилось, ведутся ремонтные работы</h1>
    <form method=post enctype="multipart/form-data">
        <input type = "file" name="file">
        <input type="submit" value="Загрузить">
        <img src = "{{url_for('index', filename=uploaded_image)}}"/>
        </form>

</body>
</html>

<div class="settings">
                    <h1>Настройки</h1>
                    <div class="line"></div>
                    <div class="setting">
                        <div class="radio radio-1">
                            <input class="custom-radio" type="radio" id="color-1" name="color" value="indigo">
                            <label for="color-1">Оригинал</label>
                        </div>

                        <div class="radio">
                            <input class="custom-radio" type="radio" id="color-2" name="color" value="red">
                            <label for="color-2">Измененная</label>
                        </div>
                        <div class="line"></div>
                        <div class="checkbox">
                            <label class="custom-checkbox">
                              <input type="checkbox" name="color-1" value="indigo">
                              <span>Средние линии</span>
                            </label>
                        </div>
                        <div class="line"></div>

                    </div>
                </div>